.tabs-container {
    display: flex;
    gap: 32px;
    margin-top: 25px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    width: 100%;
}


.tab-btn {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    color: #555;
    position: relative;
    transition: color 0.3s;
    text-decoration: none;
}

.tab-btn:hover {
    color: #111;
}

.tab-btn.active {
    color: #000;
    font-weight: 500;
}

.tab-btn.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #333399;
    border-radius: 10px;
}


.conteudo-tabs {
    margin-top: 30px;
}