.maps-section {
    padding: 2rem;
    max-width: 600px;
}


.map-container, h2{
    font-size: 28px;

    padding-left: 0;
}

iframe {
    width: 80%;
    border: none;
    height: 400px;
    display: block;
}

@media (max-width: 600px) {
    .address-text {
        white-space: normal;
    }
}
.address-text {
    font-size: 16px;
    color: #555;
    margin: 0;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.6;
    white-space: nowrap;
}


