.galeria-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
}


.foto-grande img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 1rem;
}

/* GRID da lateral */
.mini-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 208px 207px;
  gap: 0.3rem;
  
}

/* Mini Fotos */
.mini-foto {
  position: relative;
  cursor: pointer;
}

.mini-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Overlay final ocupando 2 colunas */
.overlay-full {

  position: relative;
  overflow: hidden;
}

.blur-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(40%);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}

.lightbox-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}