.sobre-espaco-container {
    padding: 2rem;
    max-width: 600px;
}

.sobre-espaco-container p, h2 {
    color: #333;
    font-weight: 400;
    line-height: 1.6;
    max-width: 100%;
    text-align: justify;
}

.sobre-espaco-container h2 {
    font-size: 28px;
    margin-bottom: 24px;
    padding-left: 0;
}

.paragraph-sobre-espaco {
  font-size: 16px;
  line-height: 1.6;
  max-width: 100%;
}
