.sobre-espaco-container p, h2{
    color: #333;
    font-weight: 400;
    line-height: 1.6;
    max-width: 50%;
    padding-left: 2rem;
    text-align: justify;
}

.sobre-espaco-container h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
