.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #333399;
    color: white;
    width: 100%;
    text-align: center;
}

.icons-footer {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.icons-footer img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}