.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #333399;
    color: white;
    text-align: center;
}

.icons-footer {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

.icons-footer img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    
}

.footer-content p {
    font-size: 14px;
    line-height: 1.5;
    color: white;
    text-align: center;
    margin: auto;
    max-width: 600px;
}