.comodidades {
  padding: 2rem;
  max-width: 600px;
}
.comodidades h2 {
  font-size: 28px;
  margin-bottom: 24px;
  padding-left: 0;
}

.comodidades-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 100px;
  row-gap: 18px;
 
}

.comodidade-item {
  display: flex;
  align-items: center;
}

.comodidade-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.comodidade-item p {
  font-size: 16px;
  margin: 0;
  max-width: 600px
}
