* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

:root {
    --secondary-color: #333399;
    --text-color: #333;
    --background-color: #f5f5f5;
    --line-color:#ddd;
}

.section-container {
  max-width: 1100px;  
  margin: 0 auto;     
  padding: 2rem;
}

.spacecard-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
