* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

:root {
    --secondary-color: #333399;
    --text-color: #333;
    --background-color: #f5f5f5;
    --line-color:#ddd;
}